 body  {
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding-right: 100px;
    padding-left: 100px;
   
    
}

.header-container {
  /*  background-color: #1F2937 ; */
    display: flex;
    justify-content: space-between;  
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

a { 
    text-decoration: none;
}

.top-container  {
  display: flex;
  justify-content: space-between;
 
}  

.top-text-container {
    display: flex;
    flex-direction: column;
    
}

#top-button {
    width: 100px;
    height: auto;
    
}
.image {
    width: 500px;
    flex: 1;
    max-width: 500px;
}

 img {
    width: 200px;
    height: auto;
    flex: 1;  
 }

 .card-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;   
 }

 .card {
    flex: 1;
 }
 .second-section p {
    text-align: center;
    font-size: 25px;
 }
 
 .third-section {
    width: 500px;
 }
 